button {
    flex: 1;
    padding: 1rem 1.5rem;
    border: none;
    text-transform: uppercase;
    background-color: #F44236;
    color: #FFF;
    opacity: 0.9;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

#clear-btn {
    background-color: #444;
}